.searchDiv {
  width: 100%;
  text-align: center;
}
.header {
  width: 100%;
  text-align: center;
}
.searchButton {
  margin-left: 10px;
}
.employeeElement {
  width: 100%;
  text-align: center;
}
.employeeTable {
  width: 100%;
}
.allowanceElement {
  width: 100%;
  text-align: center;
}
.allowancesTable {
  width: 100%;
}
.absencesElement {
  width: 100%;
  text-align: center;
}
.absencesTable {
  width: 100%;
}
