.searchDiv {
  width: 100%;
  text-align: center;
}
.header {
  width: 100%;
  text-align: center;
}
.searchButton {
  margin-left: 10px;
}
.details {
  width: 100%;
  text-align: center;
}
.detailsTable {
  width: 100%;
}
.employeerSignature {
  border-top: 1px solid;
  width: 250px;
  margin-top: 100px;
  float: left;
  text-align: center;
}
.employeeSignature {
  border-top: 1px solid;
  width: 250px;
  margin-top: 100px;
  float: right;
  text-align: center;
}
