.dialog-body {
  margin-top: 10px;
}
.dialogSize {
  width: 100%;
}
.deletedEmployees-table {
  width: 100%;
}
.emptyDeletedEmployeesListDiv {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.emptyDeletedEmployeesList {
  font-weight: bold;
  color: red;
}
.loadingDivInner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loadingDivWrapper {
  position: relative;
  height: 60px;
}
