.noAbsence {
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: red;
  font-weight: bold;
}

.addNewAbsenceButton {
  margin-top: 10px;
  margin-bottom: 10px;
}

.tableButtonColumn {
  width: 70px;
}

.absencesTable {
  width: 100%;
}
