<div>
  <h1>Felhasználók</h1>
  <hr />
  <button
    mat-raised-button
    color="primary"
    matTooltip="Új felhasználó hozzáadása"
    class="addNewUserButton"
    (click)="openAddUserDialog()"
  >
    <mat-icon >add</mat-icon><span class="textIconPadding"></span>
  </button>
  <table
    #usersTable
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8 users-table"
  >
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef>Jogosultság</th>
      <td mat-cell *matCellDef="let element">{{ element.roles.name }}</td>
    </ng-container>

    <ng-container matColumnDef="editColumn" class="tableButtonColumn">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" class="tableButtonColumn">
        <button
          mat-raised-button
          color="accent"
          matTooltip="Felhasználó szerkesztése"
          (click)="openEditUserDialog(element)"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="deleteColumn" class="tableButtonColumn">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" class="tableButtonColumn">
        <button mat-raised-button color="warn" matTooltip="Felhasználó törlése" (click)="openDeleteUserDialog(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    #paginator
    [pageSizeOptions]="[10, 50, 100]"
    showFirstLastButtons
  >
  </mat-paginator>
</div>


