<div class="dialogSize">
  <h1 mat-dialog-title></h1>
  <mat-dialog-content class="dialog">
    <h1>Távolmaradás hozzáadása</h1>
    <hr>
    <div class="dialog-body">
      <form [formGroup]="form">
        <div class="segment">
          <div class="form-body">
            <mat-form-field class="example-full-width" appearance="fill">
              <input
                matInput
                [matDatepicker]="picker"
                formControlName="date"
                placeholder="Válassz dátumot*..."
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <div class="field" *ngIf="getControl.date.touched">
              <p *ngIf="getControl.date.errors?.required" class="errorLabel">
                Mező kitöltése kötelező.
              </p>
            </div>
          </div>
          <div>
            <mat-form-field class="field" style="height: 55px">
              <mat-label>Távolmaradás típusa*</mat-label>
              <mat-select formControlName="absenceType">
                <mat-option [value]="null">Kérlek válassz...</mat-option>
                <mat-option
                  *ngFor="let absence of absenceTypes"
                  [value]="absence.id"
                >
                  {{ absence.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="field" *ngIf="getControl.absenceType.touched">
              <p
                *ngIf="getControl.absenceType.errors?.required"
                class="errorLabel"
              >
                Mező kitöltése kötelező.
              </p>
            </div>
          </div>
        </div>
      </form>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button
      mat-raised-button
      color="primary"
      matTooltip="Távolmaradás hozzáadása hozzáadása"
      (click)="addAbsenceToEmployee()"
    >
      <mat-icon>check</mat-icon>
    </button>
    <button
      mat-raised-button
      color="accent"
      mat-dialog-close
      matTooltip="Bezárás"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-dialog-actions>
</div>
