.dialog-body {
  margin-top: 10px;
}
.dialogSize {
  width: 100%;
}
.segmentBorder {
  border: solid;
  border-radius: 15px;
  padding: 10px;
  margin-top: 10px;
  border-color: purple;
}
.allowancesSegmentBorder {
  border: solid 2px;
  border-radius: 15px;
  padding: 10px;
  margin-top: 10px;
  border-color: purple;
}

.allowanceSegment {
margin-left: 30%;
margin-right: 30%;
}
.allowanceTable {
  width: 100%;
}

.allowanceButton {
margin-left: 5px;
}
.segment {
  display: flex;
}
.legendTitle {
  margin-bottom: 10px;
}
.field {
  margin-left: 20px;
}

.allowanceTable {
width: 100%;
}

.errorLabel {
color: red;
}

.allowanceErrorDiv {
margin-top: 10px;
margin-left: 5px;;
}
