.titleDiv {
  width: 100%;
  text-align: center;
  color: #673ab7;
  font-weight: bold;
}
.descriptionDiv {
  position: fixed;
  bottom: 50%;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: gray;
}
