<div class="dialogSize">
  <h1 mat-dialog-title></h1>
  <mat-dialog-content class="dialog">
    <h1>Felhasználó szerkesztése</h1>
    <hr />
    <div class="dialog-body">
      <form [formGroup]="form">
        <div class="form-body">
          <div class="fieldDiv">
            <mat-form-field class="field">
              <mat-label>Email*</mat-label>
              <input
                type="text"
                matInput
                formControlName="email"
                placeholder="Pl: teszt@teszt.com"
              />
            </mat-form-field>
            <div class="field" *ngIf="getControl.email.touched">
              <p *ngIf="getControl.email.errors?.required" class="errorLabel">
                Mező kitöltése kötelező.
              </p>
              <p *ngIf="getControl.email.errors?.email" class="errorLabel">
                Nem valós email cím!
              </p>
            </div>
          </div>
          <div class="fieldDiv">
            <mat-form-field class="field">
              <mat-label>Jelszó*</mat-label>
              <input
                type="password"
                matInput
                formControlName="password"
              />
            </mat-form-field>
            <div class="field" *ngIf="getControl.password.touched">
              <p *ngIf="getControl.password.errors?.required" class="errorLabel">
                Mező kitöltése kötelező.
              </p>
            </div>
          </div>
          <div class="fieldDiv">
            <mat-form-field class="field">
              <mat-label>Jogosultság*</mat-label>
              <mat-select formControlName="roleId">
                <mat-option [value]="null">Kérlek válassz...</mat-option>
                <mat-option
                  *ngFor="let role of roles"
                  [value]="role.id"
                >
                  {{ role.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="field" *ngIf="getControl.roleId.touched">
              <p
                *ngIf="getControl.roleId.errors?.required"
                class="errorLabel"
              >
                Mező kitöltése kötelező.
              </p>
            </div>
          </div>
        </div>
      </form>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button
      mat-raised-button
      color="primary"
      matTooltip="Felhasználó mentése"
      (click)="updateUser()"
    >
      <mat-icon>check</mat-icon>
    </button>
    <button
      mat-raised-button
      color="accent"
      mat-dialog-close
      matTooltip="Bezárás"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-dialog-actions>
</div>



