.field {
  width: 100%;
}
.errorLabel {
  color: red;
}
.dialog-body {
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  justify-content: center;
}
.form {
  margin-top: 20px;
  margin-bottom: 20px;
}
.fieldDiv {
  margin-bottom: 20px;
  width: 100%;
}
